.sticky {
	max-width: 1260px;
	width: 100%;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
	z-index: 1;
}

.logo,
.logoBlack {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	font-size: calc(15px + 10 * (100vw / 1440));
	cursor: pointer;
	text-transform: uppercase;
}
.logo {
	color: #fff;
}
.logoBlack {
	letter-spacing: 0.2px;
	font-weight: 400;
	line-height: 200%;
	color: #000000;
}

.menu {
	max-width: 368px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.menuContainer {
	max-width: 368px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.btn,
.btnBlack {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	background-color: transparent;
	font-weight: 400;
	font-size: calc(10px + 10 * (100vw / 1440));
	text-transform: uppercase;
}
.btn {
	color: #fff;
}
.btnBlack {
	color: #000;
	letter-spacing: 0.2px;
	line-height: 200%;
	font-weight: 400;
}
.btnRabbit {
	background-color: transparent;
	display: none;
}

.btnClose {
	position: fixed;
	background-color: transparent;
	display: none;
	margin-top: 32px;
	z-index: 1;
}

@media screen and (max-width: 1300px) {
	.sticky {
		padding: 16px 24px;
	}
}
@media screen and (min-width: 1440px) {
	.btn {
		font-size: 20px;
	}
	.logo {
		font-size: 25px;
	}
}

@media screen and (max-width: 768px) {
	.menu {
		width: 7%;
	}
	.menuContainer,
	.active {
		position: fixed;
		right: -100%;
		top: 0;
		max-width: 768px;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #2f171f;
		transition: right 0.5s;
	}
	.menuContainer {
		justify-content: space-between;
	}
	.active {
		right: 0%;
	}
	.btn {
		font-family: 'IBM Plex Sans Condensed', sans-serif;
		font-weight: 400;
		font-size: 25px;
	}
	.btnBack {
		font-family: 'IBM Plex Sans Condensed', sans-serif;
		font-weight: 400;
		font-size: 25px;
		color: #fff;
	}
	.btn:first-child {
		margin-top: 250px;
	}
	.btnBlack:first-child {
		margin-top: 250px;
		font-family: 'IBM Plex Sans Condensed', sans-serif;
		font-size: 25px;
		color: #fff;
	}
	.btnBlack:last-child {
		font-family: 'IBM Plex Sans Condensed', sans-serif;
		font-size: 25px;
		color: #fff;
	}
	.btn:not(:first-child):not(:last-child) {
		margin: 97px 0;
	}
	.btnBlack:not(:first-child):not(:last-child) {
		margin: 97px 0;
		font-family: 'IBM Plex Sans Condensed', sans-serif;
		font-size: 25px;
		color: #fff;
	}
	.btnRabbit {
		display: block;
	}
	.btnClose {
		display: block;
	}
}
