.kbs {
	position: relative;
	max-width: 1200px;
	max-height: 818px;
	padding: 33.746%;
	margin: 0 auto;
	margin-bottom: 25px;
}
@media screen and (max-width: 480px) {
	.kbs {
		margin-bottom: 10px;
	}
}
