.graphicDesign {
	max-width: 1213px;
	margin: 0 auto;
	margin-bottom: 133px;
}
.rabbitCat {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.rabbit {
	display: flex;
	//flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: space-between;
}
.rabbitCat > p {
	max-width: 580px;
	font-family: 'Cormorant Infant', serif;
	font-style: normal;
	font-weight: 400;
	font-size: calc(30px + 20 * (100vw / 1440));
	line-height: 108.1%;
	padding: 0 5px 0 21px;
}
.rabbit > p {
	max-width: 519px;
	font-family: 'Cormorant Infant', serif;
	font-style: normal;
	font-weight: 400;
	font-size: calc(30px + 20 * (100vw / 1440));
	line-height: 108.1%;
	padding: 0 21px 0 21px;
	text-align: right;
}
.rabbitCatImg {
	position: relative;
	max-width: 692px;
	padding: 17% 33% 26.117% 18.609%;
}
.rabbitImg {
	position: relative;
	max-width: 709px;
	padding: 20% 20% 24.024% 23.447%;
}
.designInspire {
	font-family: 'Cormorant Infant', serif;
	margin: 0 auto;
	max-width: 838px;
	color: #2d2d2d;
	font-style: italic;
	font-weight: 400;
	font-size: calc(25px + 45 * (100vw / 1440));
	line-height: 108.1%;
	text-align: center;
}
.description {
	font-family: 'Cormorant Infant', serif;
	margin: 0 auto;
	max-width: 1213px;
	width: 100%;
	font-style: normal;
	font-weight: 700;
	font-size: calc(20px + 60 * (100vw / 1440));
	line-height: 150.1%;
	text-align: center;
	text-transform: uppercase;

	color: #2d2d2d;
}
@media screen and (min-width: 1440px) {
	.rabbitCat > p {
		font-size: 50px;
	}
	.rabbit > p {
		font-size: 50px;
	}
	.designInspire {
		font-size: 70px;
	}
	.description {
		font-size: 80px;
	}
}
@media screen and (max-width: 934px) {
	.rabbit {
		flex-wrap: wrap-reverse;
		justify-content: center;
	}
}
@media screen and (max-width: 874px) {
	.graphicDesign {
		margin-bottom: 43px;
	}
}
@media screen and (max-width: 390px) {
	.rabbitCat > p {
		max-width: 284px;
		font-size: 30px;
	}
	.rabbit > p {
		font-size: 30px;
	}
	.designInspire {
		font-size: 25px;
	}
	.description {
		font-size: 20px;
	}
}
