.samurai {
	max-width: 1220px;
	position: relative;
	padding: 28.572%;
	margin: 0 auto;
	margin-bottom: 25px;
}
.samurai > img {
	border-radius: 20px;
}
@media screen and (max-width: 480px) {
	.samurai {
		margin-bottom: 10px;
	}
}
