.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
}
.ergonodesDesc {
	max-width: 540px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}
.ergonodesPreview {
	max-width: 680px;
	position: relative;
	padding: 26.985%;
	margin-left: 20px;
}

.description {
	max-width: 410px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: calc(12px + 2 * (100vw / 1440));
	line-height: 200%;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 24px;
}
.icon {
	max-width: 540px;
	position: relative;
	padding: 50.035%;
}
.slick-el {
	max-width: 30px !important;
}
@media screen and (min-width: 1440px) {
	.description {
		font-size: 14px;
	}
}
@media screen and (max-width: 1300px) {
	.wrapper {
		padding: 16px 24px;
		justify-content: center;
	}
	.icon {
		margin: 24px 0;
	}
}

/* @media screen and (max-width: 768px) {
	.ergonodesPreview {
		padding: 49.985%;
	}
} */
