.emporas {
	max-width: 1220px;
	position: relative;
	padding: 28.572%;
	margin: 0 auto;
	margin-bottom: 25px;
}

.emporas > img {
	border-radius: 35px;
}

@media screen and (max-width: 480px) {
	.emporas > img {
		border-radius: 15px;
	}
	.emporas {
		margin-bottom: 10px;
	}
}
