.aline {
	position: relative;
	padding: 43.76% 0 18.1% 61.5%;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 25px;
}

@media screen and (max-width: 480px) {
	.aline {
		margin-bottom: 10px;
	}
}
