.wrapper {
	display: flex;
	flex-direction: column;
	margin: 40px 0;
}

.upBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.downBlock {
	display: flex;
	justify-content: center;
	align-items: center;
}
.satergoIcon {
	max-width: 558px;
	width: 100%;
}

.description {
	max-width: 367px;
	width: 100%;
	font-size: 14px;
	line-height: 200%;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	margin-bottom: 24px;
}
.satergoPreview {
	position: relative;
	max-width: 629px;
	padding: 26.985%;
	margin-right: 41px;
}

.icon {
	position: relative;
	max-width: 540px;
	width: 100%;
	padding: 50.093%;
}
.branding {
	position: relative;
	max-width: 500px;
	padding: 19.842%;
	margin-right: 50px;
}

.tShort {
	position: relative;
	max-width: 500px;
	padding: 19.842%;
	margin-left: 50px;
}
@media screen and (max-width: 1300px) {
	.wrapper {
		padding: 0 24px;
	}
}
